/* Font Druk Text Wide-Medium-Web. Type Today LLC*/
@font-face {font-family: 'DrukTextWideTT';font-style: normal; font-weight: 500;src: url("602ef3aae006c359d34c38b64b5d8a30ae8a1db6.woff") format('woff');}


/* Font Druk Text Wide-Bold-Web. Type Today LLC*/
@font-face {font-family: 'DrukTextWideTT';font-style: normal; font-weight: 700;src: url("9fc522e29207419f45e41168de290600fa496792.woff") format('woff');}


